# **NBA Shooting Stats**

### In this project, I use SQL to summarize a few interseting insights regarding shooting around the league

In [2]:
#Import Libraries
import pandas as pd
import sqlite3

In [3]:
#Read csv file into Pandas Dataframe
df = pd.read_csv('Database/Player Totals.csv')

In [4]:
#Open a connection with sqlite3
cnn = sqlite3.connect('shooters_gonna_shoot.db')

In [ ]:
#Create SQL Table called 'shooting'
df.to_sql('Player_Totals', cnn)

In [38]:
#Loading SQL extension and pointing connection to the database
%load_ext sql
%sql sqlite:///shooters_gonna_shoot.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Top 10 shooting teams in 2021-2022 season by %

In [40]:
%%sql

SELECT tm as Team, round(avg(e_fg_percent), 3) as "AVG FG %"
FROM Player_Totals
WHERE season == 2022
GROUP BY tm
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///shooters_gonna_shoot.db
Done.

[('CHI', 0.558),
 ('GSW', 0.542),
 ('MIN', 0.541),
 ('LAC', 0.538),
 ('IND', 0.534),
 ('DEN', 0.533),
 ('MIA', 0.529),
 ('HOU', 0.529),
 ('UTA', 0.527),
 ('PHI', 0.522)]

### Best 3-point shooter each season over the past 10 seasons

In [45]:
%%sql

SELECT season, player, pos as Pos, tm as Team, max(x3p) as '3-PT Made', x3p_percent as '3-PT %'
FROM Player_Totals
WHERE season < 2023
GROUP BY season
ORDER BY 1 DESC
LIMIT 10;

 * sqlite:///shooters_gonna_shoot.db
Done.

[(2022, 'Stephen Curry', 'PG', 'GSW', 285.0, 0.38),
 (2021, 'Stephen Curry', 'PG', 'GSW', 337.0, 0.421),
 (2020, 'James Harden', 'SG', 'HOU', 299.0, 0.355),
 (2019, 'James Harden', 'PG', 'HOU', 378.0, 0.368),
 (2018, 'James Harden', 'SG', 'HOU', 265.0, 0.367),
 (2017, 'Stephen Curry', 'PG', 'GSW', 324.0, 0.411),
 (2016, 'Stephen Curry', 'PG', 'GSW', 402.0, 0.454),
 (2015, 'Stephen Curry', 'PG', 'GSW', 286.0, 0.443),
 (2014, 'Stephen Curry', 'PG', 'GSW', 261.0, 0.424),
 (2013, 'Stephen Curry', 'PG', 'GSW', 272.0, 0.453)]